{% extends 'blog/base.html' %}
{% load static %}

{% block title %}
    Posts
{% endblock %}

{% block content %}

    <div class="title-div">
        <h1 class="title">Posts</h1>
        <h2 class="subtitle"> Aquí trobaras la llista de Posts</h2>
    </div>

    <section id="posts-list">
        {% for post in posts %}
            <article class="post">
                <h2>{{ post.title }}</h2>
                <p>{{ post.excerpt }}</p>
                <p>{{ post.date|date:"d M Y" }}</p>
                <img src="{% static 'blog/images/' %}{{ post.image_name }}" alt="{{ post.title }}" class="img-link">
                <br><br><a href="{% url 'post-detail' post.slug %}" class="button">Llegir més</a>
            </article>
        {% endfor %}
    </section>  

{% endblock %}